<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./frontend/style.css">
</head>
<body>
  <div id="map">
    <div id="map_background">

    </div>
    <div id="map_body">
      <div id="drone">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="10.5263" cy="10.5263" r="10.0263" fill="#6D6D6D" fill-opacity="0.5" stroke="#333333"/>
          <circle cx="39.4755" cy="10.5263" r="10.0263" fill="#6D6D6D" fill-opacity="0.5" stroke="#333333"/>
          <circle cx="10.5263" cy="39.4736" r="10.0263" fill="#6D6D6D" fill-opacity="0.5" stroke="#333333"/>
          <circle cx="39.4755" cy="39.4736" r="10.0263" fill="#6D6D6D" fill-opacity="0.5" stroke="#333333"/>
          <rect x="44.3886" y="39.5146" width="6.89474" height="47.9474" rx="3.44737" transform="rotate(135 44.3886 39.5146)" fill="#6D6D6D" stroke="#333333"/>
          <rect x="10.4863" y="44.3886" width="6.89474" height="47.9474" rx="3.44737" transform="rotate(-135 10.4863 44.3886)" fill="#6D6D6D" stroke="#333333"/>
          <path d="M11.4896 38.6624L24.9991 11.6434L38.5086 38.6624L25.1424 34.664L24.9991 34.6211L24.8558 34.664L11.4896 38.6624Z" fill="white" stroke="#333333"/>
        </svg>        
      </div>
    </div>
  </div>
</body>
<script src="./frontend/resize_ui.js"></script>
<script src="./frontend/main.js"></script>
</html>